<div class="app-hero">
  <div class="app-headline">
    <span class="sub-title">WELDING COMPANY</span>
    <div class="title">
      <span>Crafting Durable Solutions &</span>
      <span>Trust for Lasting Security</span>
    </div>
    <div class="app-actions">
      <app-button [data]="{name: 'Explore Products'}"></app-button>
      <app-button [data]="{name: 'Book a Service'}"></app-button>
    </div>
  </div>
  <div class="app-product-showcase">
    <span class="title">PRODUCT CATEGORIZES</span>
    <div class="product-list">
      <app-card [data]="cardGrill"></app-card>
      <app-card [data]="cardGate"></app-card>
      <app-card [data]="cardSafetyDoor"></app-card>
      <app-card [data]="cardCoolingSheet"></app-card>
      <app-card [data]="cardLadder"></app-card>
    </div>
  </div>
  <div class="app-service-showcase">
    <span class="title">SERVICE CATEGORIZES</span>
    <div class="service-list">
      <app-card [data]="cardGrillService"></app-card>
      <app-card [data]="cardGateService"></app-card>
      <app-card [data]="cardSafetyDoorService"></app-card>
      <app-card [data]="cardCoolingSheetService"></app-card>
      <app-card [data]="cardLadderService"></app-card>
    </div>
  </div>
</div>

