.app-hero {
  display: flex;
  flex-direction: column;
  gap: 45px;

  .app-headline {
    height: 400px;
    background-color: #68749A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;

    .sub-title {
      font-size: 24px;
      color: #ffffff;
    }

    .title {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 48px;
      font-weight: 500;
      color: #ffffff;
    }

    .app-actions {
      display: flex;
      gap: 60px;
    }
  }
}

.app-product-showcase {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 70px;

  .title {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 500;
    color: #2B3A67;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
  }
}

.app-service-showcase {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 70px;

  .title {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 500;
    color: #2B3A67;
  }

  .service-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
  }
}
