<div class="app-hero">
  <div class="app-headline">
    <span class="sub-title">WELDING COMPANY</span>
    <div class="title">
      <span>Crafting Durable Solutions &</span>
      <span>Trust for Lasting Security</span>
    </div>
    <div class="app-actions">
      <app-button [data]="{name: 'Explore Products'}"></app-button>
      <app-button [data]="{name: 'Book a Service'}"></app-button>
    </div>
  </div>
  <div class="app-product-showcase">
    <span class="title">PRODUCT CATOGRIES</span>
    <div class="product-list">
      <mat-card class="mat-card">
        <img mat-card-image
          src="https://tiimg.tistatic.com/fp/1/007/981/corrosion-resistant-sturdy-design-high-quality-easy-installing-stainless-steel-window-grill-014.jpg">
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card">
      </mat-card>
      <mat-card class="mat-card">
      </mat-card>
      <mat-card class="mat-card">
      </mat-card>
      <!-- <mat-card class="mat-card">
      </mat-card> -->
    </div>
  </div>
</div>
